{% extends 'recipes/base.html' %} 
{% block content %}

<form action="{% url 'edit_recipe' form.instance.slug %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>{{ title }}</h3>
  <div class="form-error">{{ form.non_field_errors }}</div>
  {% for f in form %}
  <p>
    {% if f.label == 'Время приготовления' %}
    <label class="form-label" form="{{ f.id_for_label }}">{{f.label}} (мин): </label>{{ f }}
    {% else %}
    <label class="form-label" form="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}
    {% endif %}
  </p>
  <div class="form-error">{{ f.errors }}</div>
  {% endfor %}
  <button type="submit">Сохранить</button>
</form>
{% endblock %}
